// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";
$image-theme-path:'../../image/red/';
$image-theme-path-base : '../../image/red/';